<div class="m-auto max-w-screen-2xl py-3">
<div class="flex justify-between">    
    <div class="font-bold text-2xl text-yellow-700" (click)="goToHome()">My Trucking</div>
    <div> <button mat-raised-button color="primary" (click)="logout()"> logout</button></div>
</div>
</div>
