<app-header></app-header>
<div class="flex h-2/3">
        <div class="m-auto">
        <div >
            <button mat-raised-button class="w-36" color="primary" routerLink="/booking"> New Booking</button>
        </div>
        <div class="mt-10">
            <button mat-raised-button class="w-36" color="accent" routerLink="/bookings"> My Bookings</button>
        </div>
    </div>
</div>