<div class="form-container">
    <mat-card class="signup-form">
    <div class="signup-form" >
            <h1 class="pt-1">Registration Form</h1>
<form [formGroup]="signupForm">
    <mat-form-field class="w-full mb-4">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Name">
          <mat-error *ngIf="signupForm.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input type="text"  matInput formControlName="email" placeholder="email">
        <mat-error *ngIf="signupForm.controls.email.hasError('email') && !signupForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signupForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="password">
          <mat-error *ngIf="signupForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
        <mat-label>Phone Number</mat-label>
        <input type="number" matInput formControlName="phone_no" placeholder="phone number">
        <mat-error *ngIf="signupForm.controls.phone_no.hasError('maxLength') && !signupForm.controls.phone_no.hasError('required')">
            Please enter a valid Phone Number
          </mat-error>
          <mat-error *ngIf="signupForm.controls.phone_no.hasError('required')">
            Phone Number is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    <div class="flex flex-row-reverse mb-2">
      <a class="cursor-pointer text-blue-600 underline" routerLink="/login">Have an Account Already?</a> 
     </div>
    <div class="btn-container">
        <button class="w-1/2" mat-raised-button color="primary" (click)="submit()"> Signup </button>
    </div>
    
</form>
</div>
</mat-card>
</div>