.signup-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.form-container{
    padding: 5rem;
    background-image: url("https://wallpaperaccess.com/full/520898.jpg");
    height: 100%;
    padding-bottom: 0px;
}
.btn-container{
   text-align: center;
}
button{
min-width: 100px;
}