<app-header></app-header>
<div class="m-auto max-w-screen-2xl">
<div class="mt-14">
    <form [formGroup]="searchForm" >
      <div class="flex justify-center flex-wrap">
        <mat-form-field class="lg:1/5 md:1/3 sm:w-100 mr-10">
            <mat-label>Origin</mat-label>
            <input type="text"  matInput formControlName="origin" placeholder="origin">
              <mat-error *ngIf="searchForm.controls.origin.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="lg:1/5 md:1/3 sm:w-100 mr-10">
            <mat-label>Destination</mat-label>
            <input type="text"  matInput formControlName="destination" placeholder="destination">
              <mat-error *ngIf="searchForm.controls.destination.hasError('required')">
                destination is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="lg:1/5 md:1/3 sm:w-100 mr-10">
            <mat-label>Capacity (KGS)</mat-label>
            <input type="number"  matInput formControlName="capacity" placeholder="capacity">
              <mat-error *ngIf="searchForm.controls.capacity.hasError('required')">
                capacity is <strong>required</strong>
              </mat-error>
        </mat-form-field>
      </div>
        <div class="btn-container text-center mt-4">
            <button class="w-1/12" mat-raised-button color="primary" (click)="search()"> Search </button>
        </div>
</form>
</div>

<div *ngIf="options"> 
  <div class="text-center mt-10"> <h2>Vehicles Available</h2></div> 
    <mat-card class="m-5" *ngFor="let option of options">
        <div class="flex justify-evenly">
           <p> Plate No : {{ option.plateNo }}</p> 
           <p> Type : {{ option.type }}</p> 
           <p> Price : {{ option.price }}</p> 
           <p> Time : {{ option.time }}</p> 
        </div>
        <div class="btn-container flex flex-row-reverse">
            <button class="" mat-raised-button color="primary" (click)="book()"> Book Now </button>
        </div>
    </mat-card>
</div>
</div>