<app-header></app-header>
<div class="text-center mt-5 text-4xl">
   Bookings
</div>
<div class="flex flex-wrap m-auto max-w-screen-2xl" *ngIf="bookings">
    <div class="m-5 lg:w-1/4 m-5 md:w-1/3  sm:w-full" *ngFor="let booking of bookings; let i = index">
        <mat-card>
        <div class="flex justify-between">
            <h1>   ID  {{ booking.id  }}</h1>
            <div class="text-blue-900 text-xl"> {{ booking.bookingStatus }}</div>
        </div>

        <div>
            <div class="flex justify-between"><p>  Booking Name </p> <p>{{ booking.name  }}</p></div>
            <div class="flex justify-between"><p> Vechile Type </p><p>{{ booking.type  }}</p></div>
            <div class="flex justify-between"><p>  Booking origin </p><p>{{ booking.origin  }}</p></div>
            <div class="flex justify-between"> <p>  Booking destination </p><p>{{ booking.destination  }}</p></div>
            <div class="flex justify-between"><p>  Current Location </p><p>{{ booking.currentLocation  }}</p></div>
            <div class="flex justify-between"><p>  Departure Time </p><p>{{ booking.tod  }}</p></div>
            <div class="flex justify-between"> <p>  Expected Time of Arrival </p><p>{{ booking.expectedToa  }}</p></div>
        </div>
        <div class="flex justify-end">
            <button  *ngIf="booking.trackingLink" mat-raised-button color="primary" (click)=track(i)> Tracking </button>
            <button *ngIf="!booking.trackingLink" mat-raised-button color="warn" (click)=cancel(i)> Cancel </button>
        </div>
        </mat-card>
    </div>
</div>