<div class="form-container">
    <mat-card class="signup-form">
    <div class="signup-form" >
            <h1 class="pt-1">Login</h1>
<form [formGroup]="loginForm">
    <mat-form-field class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input type="text"  matInput formControlName="login" placeholder="login">
        <mat-error *ngIf="loginForm.controls.login.hasError('email') && !loginForm.controls.login.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.controls.login.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="password">
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
    </mat-form-field>
    <div class="flex flex-row-reverse mb-2">
     <a class="cursor-pointer text-blue-600 underline" routerLink="/signup">Create New Account.</a> 
    </div>
    <div class="btn-container">
        <button class="w-1/2" mat-raised-button color="primary" (click)="submit()"> Login </button>
    </div>
    
</form>
</div>
</mat-card>
</div>
